@font-face {
    font-family: 'HelveticaNeue lt';
    src: url('../fonts/HELVETICANEUELTGEO-45LIGHTS.ttf') format('truetype');
    font-weight: light;
    font-style: normal;   
}
@font-face {
    font-family: 'HelveticaNeue bold';
    src: url('../fonts/HELVETICA-NEUE-LT-GEO-75-BOLD.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;   
}

/* reset */

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color:#FFFFFF;
}
.container {
    width: 100%;
    max-width: 1195px;
    margin: 0 auto;
    padding: 0;
}

/* header */

header {
    background-color: #0020F4;
    width: 100%;
    height: 100px;
    margin: 0;
    padding-top: 26px;
}
.header-div{
    display: flex;
    justify-content: space-between;
    
}
.logo {
    width: 115px;
    height: 65px;
    margin: 0;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:0px;
    padding: 0;
}
.nav-list > li{
    font-family: "HelveticaNeue lt", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #707070;
    letter-spacing: 0px;
}
.nav-list li:hover {
    text-decoration: underline;
    text-decoration-color: #374dde;
    text-decoration-thickness: 3.2px;
    text-underline-offset: 4.8px;
}
.nav-list li:nth-child(1) {
    margin-right: 43px;
}
.nav-list li:nth-child(2) {
    margin-right: 53px;
}
.nav-list li:nth-child(3) {
    margin-right: 45px;
}
.nav-list li:nth-child(4) {
    margin-right: 42px;
}
.nav-list li:nth-child(5) {
    margin-right: 42px;
}

.header-btn{
    display: block;
    width: 160px;
    height: 55px;
    color: #171717;
    font-family: "HelveticaNeue", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: #FFFFFF;
    border: solid 0px;
    border-radius: 1.75rem;
    cursor: pointer;
    display:block;
    margin-right: -117px;
    
}
.header-btn:hover{
    background-color: #374dde;
    color: #FFFFFF;
}

/* footer */
.footer {
    margin-top: 50px;;
    background-color: #0A22F4;
    color: white;
    padding: 50px 20px 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

.footer-left {
    flex: 1;
    min-width: 300px;
}

.footer-left h2 {
    font-family: 'helveticaNeue bold', Arial, sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
}

.footer-left p {
    font-family: 'helveticaNeue lt', Arial, sans-serif;
    font-weight: 400;
    line-height: 26px;
    max-width: 463px;
    margin-bottom: 58px;
}

.map-container {
    background-color: #ffffff;
    max-width: 463px;
}
.map-container img {
    width: 100%;
    max-width: 463px;
    margin-left: 10px;
    margin-top: -10px;
}

.contact-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

.contact-item {
    display: flex;
    background-color: #FFFFFF;
    max-width: 70px;
    width: 100%;
    padding: 22px;
    align-items: center;
    gap: 92px;
}
.contact-item a {
    font-family: 'helveticaNeue lt', Arial, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
.contact-icon {
    max-width: 26px;
}
.footer-right {
    flex: 1;
    min-width: 300px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 100px;;
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    border: none;
    background-color: #0A22F4;
    border-bottom: #00000046 solid 1px;
    max-width: 463px;
    width: 100%;

    color: #ffffff;
    font-size: 14px;
}

.contact-form textarea {
    resize: none;
    height: 140px;
    border: none;
    border-bottom: #00000046 solid 1px;
}
::placeholder {
    color: #ffffff;
    font-family: 'helveticaNeue lt', Arial, sans-serif;
    font-size: 15px;
    opacity: 1;
}
.contact-form button {
    align-self: flex-end;
    padding: 10px 20px;
    color: #000000;
    background-color: #FFFFFF;
    font-weight: bold;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background-color: #3a2f9f;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 40px auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 20px;
    font-size: 14px;
}
.footer-credit {
    display: flex;
    align-items: center;
    gap: 5px;
}


